
* { 
  margin: 0; 
  padding: 0; 
}


header {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid black;
  text-align: center;
  background-color: #252525;
  color: rgb(221, 221, 221);
}


body {
  font-family: Arial, sans-serif;
  background-color: #353535;
}


.calculator{
  margin: 70px auto;
  height: 560px;
  padding-top: 50px;
  width: 400px;
  border: 3px solid rgb(50,50,80);
  border-radius: 33px;
  background-color: rgb(100, 110, 150);
}


#screen{
  margin: 0px auto;
  width: 83%;
  height: 75px;
  padding-right: 10px;
  border-radius: 10px;
  border: 3px solid rgb(50,50,110);
  background-color: rgb(180, 215, 210);  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 75px;
}


.long-size {
  font-size: 35px;
}


.normal-size {
  font-size: 47px;
}


.grid-container{
  display: grid;
  grid-template-columns: 90px 90px 90px 90px; 
  grid-template-rows: 80px 80px 80px 80px 80px;
  width: 87%;
  margin: 0px auto;
  margin-top: 42px;;
}


button {
  border: 1px, solid black;
  width: 80px;
  height: 70px;
  background-color: rgb(200, 205, 215);
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer; 
  user-select: none; 
}


button:hover {
  font-size: 37px;
}


button:active {
  border: 3px solid black;
}


.btnEqual {
  grid-row: 4 / 6;
  grid-column: 4 / 5;
  width: 80px;
  height: 150px;
  background-color: rgb(120, 185, 160);
} 


.btnCero {
  width: 170px;
  height: 70px;
  grid-column: 1/3;
} 


.btnClear {
  background-color: rgb(230, 100, 90);
}


